<div class="panel">
  <%= comment.id %>:
  <%= comment.post_id %>th post 
  <%= comment.body %>
      <%= button_to "delete",
          [comment.post, comment],
          method: :delete,
          data: {confirm: "Are you sure?"} %>

  <% if can? :destroy, @comment %>
    <button type="button" class="btn btn-default">
      <%= link_to "delete", post_comments(comment), :method => :delete, :confirm => "Are you sure?"%>
    </button>
  <% end %>
</div><!--/.panel-->
