<% @posts.each do |post| %>
  <div class="row confession"> 
    <div class="col-1">          
      <div class="btn-group-vertical vote-buttons">
    <%= render :partial => "vote_buttons", locals: {:post => post} %> 
      </div><!--/.btn-group-vertical-->
    </div><!--/.col-1-->
    <div class="col-10 pull-right">
      <div class="panel front-page-panel">
        <div class="panel-heading">
          <span class="badge pull-right"><a class="comments-link" href="posts/<%= post.id %>#comments"><%= post.comments.count %> reviews</a></span>
          <a class="panel-title" href="posts/<%= post.id %>"><h4 style="margin:0"><%= post.title %></h4></a>
        </div>

        <div class="white-panel">
          <% if post.showBudget %>
          <h5 style="margin:0"><b>Budget: </b><%= number_to_currency(post.budget) %></h5>
          <% else %>
          <h5 style="margin:0"><b><%= post.numberofpeople %></b> people</h5>
          <% end %>
        </div>
      </div><!--/.panel-->
    </div><!--col-11-->
  </div><!--confession-->
<% end %>
