<div class="single-confession">
<div class="panel">
    <div class="panel-heading">
    <div style="display:inline">
      <h1 style="display:inline-block;margin:0"><%= @post.title %></h1>
      </div>

    </div>
    <div class="white-panel">
      <h4>Location: </h4><%= @post.location %><br>
      <h4>Phone Number: </h4><%= @post.adtext %>
      <h4>Cost Table:</h4><%= render partial: 'cost_table', :locals => {:post =>@post} %>
      <h4>Total Cost:</h4><%= render partial: 'cost_calculator', :locals => {:post => @post} %>
      <br>
      <button type="button" class="btn btn-info" style="width:100%">
<h4>        <%= link_to "Place Order", order_post_path(@post) %> </h4>
      </button>
    </div>
  </div><!--/.panel-->
  <br>
</div><!--/.single-confession-->
