<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h4 style="color: rgb(200,10,10)"><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h4>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.label :title %><br>
  <%= f.text_field :title, :placeholder => "Title of Ad" %>
  </p>

  <p>
  <%= f.label :location %><br>
  <%= f.text_field :location, :placeholder => "Name of Business" %>
  </p>


  <p>
  <%= f.label :adtext %><br>
  <%= f.text_area :adtext, :placeholder => "Put your advertisement here" %>
  </p>


  <%= f.submit %>
<% end %>
