<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h4 style="color: rgb(200,10,10)"><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h4>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.label :title %><br>
  <%= f.text_field :title, :placeholder => "Name of Business" %>
  </p>

  <p>
  <%= f.label :location %><br>
  <%= f.text_field :location, :placeholder => "Address of Business" %>
  </p>


  <p>
  <%= f.label :adtext %><br>
  <%= f.text_area :adtext, :placeholder => "Put your advertisement here" %>
  </p>

  <p>
  <b>Price per person of 0-15 people</b><br>
  <%= f.number_field :costOfFifteen, :placeholder => "e.g. 15.00", :class => 'text_field', :step => 0.01 %>
  </p>


  <p>
  <b>Price per person of 16-30 people</b><br>
  <%= f.number_field :costOfThirty, :placeholder => "e.g. 13.75", :class => 'text_field', :step => 0.01 %>
  </p>

  <p>
  <b>Price per person of 31-50 people</b><br>
  <%= f.number_field :costOfFifty, :placeholder => "e.g. 11.25", :class => 'text_field', :step => 0.01 %>
  </p>
  <p>

  <b>Price per person of >50 people</b><br>
  <%= f.number_field :costOverFifty, :placeholder => "e.g. 10.25", :class => 'text_field', :step => 0.01 %>
  </p>



  <%= f.submit %>
<% end %>
