<head><%= csrf_meta_tag %></head>
<div class="loading">
<div class ="col-12">

<h3><%= @post.title %></h3>
<%= render 'single_confession' %>

<hr>
    <a id="comments"></a>
    <h3>comments</h3>
  <%= render @post.comments %>
<hr>
  <h3>add comment</h3>
  <%= render 'comments/add_comments' %> 

</div><!--/.col-12-->
</div><!--/.loading-->
